altair
attrs
Babel
blinker
Bottleneck
Brotli
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib==3.9.2
mkl-service==2.4.0
numpy
packaging
pandas
pillow
ply
protobuf==4.25.3
pyarrow
pydeck
Pygments
pyparsing
PyQt5==5.15.10
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scipy
seaborn
setuptools==75.1.0
sip
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wheel==0.44.0
